
@{
    ViewBag.Title = "Index";
}
<div class="well">
    Territory =
</div>


<div style="position: relative; left: 0; top: 0;">
    <img src="/Content/Images/map3.jpg" alt="" usemap="#map" style="position:relative; top: 0; left: 0;" />
    <img class="flags" id="TERR01" src="~/Content/Images/NONE.png" style="position: absolute; top: 70px; left: 70px; width:66px; height:43px;" />
    <img class="flags" id="TERR02" src="~/Content/Images/FSA.jpg" style="position: absolute; top: 50px; left: 280px; width:66px; height:43px;" />
    <img class="flags" id="TERR03" src="~/Content/Images/FSA.jpg" style="position: absolute; top: 50px; left: 500px; width:66px; height:43px;" />
    <img class="flags" id="TERR04" src="~/Content/Images/NONE.png" style="position: absolute; top: 40px; left: 710px; width:66px; height:43px;" />
    <img class="flags" id="TERR05" src="~/Content/Images/SID.jpg" style="position: absolute; top: 50px; left: 920px; width:66px; height:43px;" />
    <img class="flags" id="TERR06" src="~/Content/Images/SID.jpg" style="position: absolute; top: 60px; left: 1135px; width:66px; height:43px;" />
    <img class="flags" id="TERR07" src="~/Content/Images/PE.jpg" style="position: absolute; top: 260px; left: 57px; width:66px; height:43px;" />
    <img class="flags" id="TERR08" src="~/Content/Images/FSA.jpg" style="position: absolute; top: 220px; left: 270px; width:66px; height:43px;" />
    <img class="flags" id="TERR09" src="~/Content/Images/NONE.png" style="position: absolute; top: 230px; left: 510px; width:66px; height:43px;" />
    <img class="flags" id="TERR10" src="~/Content/Images/NONE.png" style="position: absolute; top: 220px; left: 690px; width:66px; height:43px;" />
    <img class="flags" id="TERR11" src="~/Content/Images/SID.jpg" style="position: absolute; top: 230px; left: 908px; width:66px; height:43px;" />
    <img class="flags" id="TERR12" src="~/Content/Images/NONE.png" style="position: absolute; top: 240px; left: 1135px; width:66px; height:43px;" />
    <img class="flags" id="TERR13" src="~/Content/Images/PE.jpg" style="position: absolute; top: 425px; left: 70px; width:66px; height:43px;" />
    <img class="flags" id="TERR14" src="~/Content/Images/NONE.png" style="position: absolute; top: 425px; left: 280px; width:66px; height:43px;" />
    <img class="flags" id="TERR15" src="~/Content/Images/NONE.png" style="position: absolute; top: 405px; left: 497px; width:66px; height:43px;" />
    <img class="flags" id="TERR16" src="~/Content/Images/NONE.png" style="position: absolute; top: 395px; left: 713px; width:66px; height:43px;" />
    <img class="flags" id="TERR17" src="~/Content/Images/NONE.png" style="position: absolute; top: 430px; left: 923px; width:66px; height:43px;" />
    <img class="flags" id="TERR18" src="~/Content/Images/NONE.png" style="position: absolute; top: 425px; left: 1135px; width:66px; height:43px;" />
    <img class="flags" id="TERR19" src="~/Content/Images/PE.jpg" style="position: absolute; top: 595px; left: 70px; width:66px; height:43px;" />
    <img class="flags" id="TERR20" src="~/Content/Images/NONE.png" style="position: absolute; top: 605px; left: 280px; width:66px; height:43px;" />
    <img class="flags" id="TERR21" src="~/Content/Images/ROF.jpg" style="position: absolute; top: 550px; left: 500px; width:66px; height:43px;" />
    <img class="flags" id="TERR22" src="~/Content/Images/NONE.png" style="position: absolute; top: 560px; left: 713px; width:66px; height:43px;" />
    <img class="flags" id="TERR23" src="~/Content/Images/COA.jpg" style="position: absolute; top: 625px; left: 923px; width:66px; height:43px;" />
    <img class="flags" id="TERR24" src="~/Content/Images/COA.jpg" style="position: absolute; top: 602px; left: 1135px; width:66px; height:43px;" />
    <img class="flags" id="TERR25" src="~/Content/Images/NONE.png" style="position: absolute; top: 775px; left: 70px; width:66px; height:43px;" />
    <img class="flags" id="TERR26" src="~/Content/Images/NONE.png" style="position: absolute; top: 785px; left: 280px; width:66px; height:43px;" />
    <img class="flags" id="TERR27" src="~/Content/Images/ROF.jpg" style="position: absolute; top: 745px; left: 510px; width:66px; height:43px;" />
    <img class="flags" id="TERR28" src="~/Content/Images/ROF.jpg" style="position: absolute; top: 775px; left: 720px; width:66px; height:43px;" />
    <img class="flags" id="TERR29" src="~/Content/Images/NONE.png" style="position: absolute; top: 785px; left: 923px; width:66px; height:43px;" />
    <img class="flags" id="TERR30" src="~/Content/Images/COA.jpg" style="position: absolute; top: 785px; left: 1135px; width:66px; height:43px;" />
</div>

<map name="map">
    <area shape="rect" coords="1068, 713, 1276, 886" href=/Map/SelectTerritory/30 />
    <area shape="rect" coords="1066, 535, 1275, 712" href=/Map/SelectTerritory/24 />
    <area shape="rect" coords="1066, 356, 1276, 533" href=/Map/SelectTerritory/18 />
    <area shape="poly" coords="1062, 531, 1059, 359, 857, 358, 852, 483, 899, 573" href=/Map/SelectTerritory/17 />
    <area shape="poly" coords="1065, 531, 896, 577, 838, 594, 838, 742, 1066, 711" href=/Map/SelectTerritory/23 />
    <area shape="poly" coords="1067, 885, 1065, 712, 838, 743, 827, 884" href=/Map/SelectTerritory/27 />
    <area shape="poly" coords="826, 886, 839, 743, 635, 643, 693, 885" href=/Map/SelectTerritory/28 />
    <area shape="poly" coords="840, 593, 896, 578, 849, 482, 639, 469, 636, 642, 838, 743" href="/Map/SelectTerritory/22" />
    <area shape="poly" coords="642, 466, 642, 354, 853, 355, 849, 483" href="/Map/SelectTerritory/16" />
    <area shape="poly" coords="641, 357, 639, 467, 426, 533, 426, 358" href="/Map/SelectTerritory/15" />
    <area shape="poly" coords="639, 468, 423, 535, 423, 630, 637, 643" href="/Map/SelectTerritory/21" />
    <area shape="poly" coords="638, 644, 693, 887, 423, 886, 424, 631" href="/Map/SelectTerritory/27" />
    <area shape="poly" coords="212, 707, 212, 539, 423, 538, 422, 750" href="/Map/SelectTerritory/20" />
    <area shape="poly" coords="211, 712, 422, 747, 422, 886, 221, 887" href="/Map/SelectTerritory/26" />
    <area shape="poly" coords="0, 888, 222, 887, 207, 708, 2, 710" href="/Map/SelectTerritory/25" />
    <area shape="rect" coords="3, 538, 207, 711" href="/Map/SelectTerritory/19" />
    <area shape="rect" coords="211, 356, 423, 536" href="/Map/SelectTerritory/14" />
    <area shape="rect" coords="0, 355, 208, 534" href="/Map/SelectTerritory/13" />
    <area shape="poly" coords="1068, 355, 1278, 355, 1275, 176, 1068, 176" href="/Map/SelectTerritory/12" />
    <area shape="poly" coords="1278, 2, 1067, 2, 1067, 177, 1278, 178" href="/Map/SelectTerritory/6" />
    <area shape="poly" coords="1065, 0, 855, 2, 833, 72, 847, 128, 939, 154, 1067, 177" href="/Map/SelectTerritory/5" />
    <area shape="poly" coords="1066, 353, 1066, 178, 938, 156, 849, 130, 779, 152, 853, 353" href="/Map/SelectTerritory/11" />
    <area shape="poly" coords="853, 353, 777, 148, 639, 72, 640, 353" href="/Map/SelectTerritory/10" />
    <area shape="poly" coords="370, 355, 640, 355, 641, 104, 464, 177, 465, 235, 401, 284" href="/Map/SelectTerritory/9" />
    <area shape="poly" coords="638, 69, 779, 149, 849, 128, 835, 70, 854, 2, 639, 1" href="/Map/SelectTerritory/18" />
    <area shape="poly" coords="638, 2, 639, 105, 462, 176, 437, 171, 426, 2" href="/Map/SelectTerritory/3" />
    <area shape="poly" coords="369, 355, 402, 284, 466, 237, 459, 178, 193, 131, 179, 249, 210, 353" href="/Map/SelectTerritory/8" />
    <area shape="poly" coords="210, 354, 176, 247, 0, 144, 0, 354" href="/Map/SelectTerritory/7" />
    <area shape="poly" coords="195, 128, 437, 173, 426, 2, 212, 1" href="/Map/SelectTerritory/2" />
    <area id="onemap" shape="poly" coords="176, 247, 209, 2, 0, 3, 0, 142" href="/Map/SelectTerritory/1" />
</map>

