@{
    ViewBag.Title = "Index";
}
<div class="textbox">
<nav class="nav navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#Overview">Overview</a></li>
            <li><a href="#Map">The Map</a></li>
            <li><a href="#CampaignTurn">Campaign Turn</a></li>
            <li><a href="#TerritoryUpgrades">Territory Upgrades</a></li>
            <li><a href="#TerritoryBonuses">Territory Bonuses</a></li>
            <li><a href="#WagingWar">Waging War</a></li>
            <li><a href="#FleetManagement">Fleet Management</a></li>
            <li><a href="#AttackBonuses">Attack Bonuses</a></li>
            <li><a href="#Alliances">Alliances</a></li>
            <li><a href="#Changelog">Changelog</a></li>
        </ul>
    </div>
</nav>

<h1>Dystopian Wars campaign concept</h1>

<h2 id="Overview">Overview</h2>
<p>
    This is a living rule document for the Dystopian War Campaign. The concept is summarized as follows:
    <ol>
        <li>Each player controls territories and attempts to conquer more territories by fighting other players</li>
        <li>Each player controls two persistent fleets where he/she will manage repairs, unit availability and other properties</li>
        <li>By upgrading territories and applying territory bonuses the land will feel more alive, and certain territories will earn bloody reputations</li>
    </ol>
</p>
<h2 id="VictoryConditions">Victory Conditions</h2>
<h2 id="Map">The Map</h2>
<p>
    Territories give requisition points.
    Requisition points can be spent on upgrades.
    Each territory has a fixed terrain layout. This is known as the Operational Theatre Map.
    When playing a match, players are expected to match the layout on the Operational Theatre Map as closely as possible within reason.
    Deployment zones and strategic/operational advantage are determined as normal, with the option to modify certain aspects by spending RP as detailed in <a href="#WagingWar">Waging War</a>.
    Territories are said to be connected when they have one shared border. Note that merely having a shared corner is not enough, so players cannot move into territories diagonally.
</p>
<h2 id="CampaignTurn">Campaign Turn</h2>
<ol>
    <li>Receive RP.</li>
    <li>Manage fleets.</li>
    <li>Upgrade territories and declare attacks.</li>
    <li>Resolve conflicts.</li>
    <li>Resolve map updates.</li>
</ol>
<p>
    A campaign turn is divided into five phases concerning management.
</p>
<h3>Receive RP</h3>
<p>
    At the beginning of a campaign turn every player receives RP according to the territories owned modified by upgrades and bonuses. For instance, a player who owns four territories of which one is a capital and one is a town will receive 30 RP for territories, 30 RP for owning a capital territory and 10 RP for owning a town for a total of 70RP.
</p>
<h3>Manage Fleets</h3>
<p>
    After conflicts have been resolved, players may lick their wounds and spend RP to expedite repairs on their fleets. Destroyed vessels may be restored and new vessels may be purchased for use in <u>subsequent</u> turns.
</p>
<h3>Upgrade Territories and declare attacks</h3>
<p>
    During this phase each player allocates part of his RP budget to territory upgrades and attacks. Any RP remaining at the end of the turn will carry over to the next turn.
</p>
<h3>Resolve conflicts</h3>
<p>
    Once the declaration phase has ended, either the website or the website manager will notify all players if there are any conflicts to resolve. Included will be both offensive modifiers and defensive upgrades as well as an up-to-date Operational Theatre Map.
    <br /><strong>*Designer's note: This will be automated eventually.</strong>
</p>
<h3>Resolve map updates</h3>
<p>
    Once all previous phases have been resolved, the map is updated. Territories change owner if necessary and fortifications that were bought in the previous phases are built so that their effects can be felt in subsequent turns. Once all actions for this phase have been resolved, the turn finishes and the next turn may begin.
</p>
<h2 id="Territories">Territories</h2>
<p>
    By default a territory gives +10 RP per turn. A capital territory gives +30 RP per turn. A player starts with one capital territory and two normal territories, thus has 50 RP to spend in his first turn.
</p>
<h3 id="TerritoryUpgrades">Territory upgrades</h3>
All territory upgrades must be represented by appropriate scenery and/or tokens. Place the upgrade as normal in the advanced deployment phase of a battle. If a territory with an upgrade under construction is captured 25% (rounded up) of the initial RP cost is refunded.
<table class="table table-bordered table-striped table">
    <thead>
        <tr>
            <th>Upgrade</th>
            <th style="width:100px;">Cost in RP</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>Minefields</td>
        <td>10</td>
        <td>Allows deployment of 5 AD5 mines. Destroyed/detonated mines regen after each turn. Faction-wide modifications to mines still apply (e.g. Covenant has High Payload AD4 mines, Prussian Empire has AD5 Lethal Strike mines). If there is any doubt concerning stats, take the stats as listed with the Universal Bunker Complex in the army list.</td>
    </tr>
    <tr>
        <td>Radar Array</td>
        <td>20</td>
        <td>Allows re-rolls of ONE die for determining strategic/operational advantage in this and adjacent territories. Example: You roll 3 and 1 for advantage. You may re-roll the 1, resulting in a 4 and a resulting advantage roll of 7. See Operational Assets v1.3 page 5 for statistics.</td>
    </tr>
    <tr>
        <td>Airfield</td>
        <td>50</td>
        <td>Allows local air support (up to 10 SAWs) in this and adjacent territories, you can only apply the local air support in one territory per turn! See the entry for Forward Landing Field in each player's respective army list for statistics, with the change that all airfields use Carrier(9). Note that when fighting on the territory containing the Airfield the provided 10 SAWs can stack with the Carrier value of the Forward Landing field!</td>
    </tr>
    <tr>
        <td>Harbour</td>
        <td>50</td>
        <td>When defending you have up to 100 additional points to spend on your army in this territory. Squadrons bought with these points are deployed in the harbour.</td>
    </tr>
    <tr>
        <td>Tower Defensive Line</td>
        <td>30 + (0-50)</td>
        <td>You may deploy up to 80 points of Tower Defensive Line. Each additional 10 RP spent is +40 points, up to a maximum of 50 additional RP for a maximum points value of 280. Mark the towers on the Operational Theatre Map as well as their weapon options. See the entry for Tower Defensive Line in each player's respective army list for statistics.</td>
    </tr>
    <tr>
        <td>Bunker Complex</td>
        <td>40</td>
        <td>Mark the bunker on the Operational Theatre Map. See the entry for Bunker Complex in each player's respective army list for statistics. Note that the Mines from the Bunker Complex stack with the Mines from the Minefield upgrade!</td>
    </tr>
        <tr>
        <td>Drydock</td>
        <td>40</td>
        <td>A drydock is build in your capital and removes the 1 RP cost per squadron when building units and increases the automatically repaired hp per turn to 3.</td>
    </tr>
</table>

<h3 id="TerritoryBonuses">Territory bonuses</h3>
Some territories provide inherent bonuses. If appropriate, these should be represented by appropriate scenery and/or tokens. Remember, it's better to have it look cool and make for exciting battles than to provide a teeny edge to one of the players!
<table class="table table-bordered table-striped table">
    <thead>
        <tr>
            <th>Bonus</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>Town</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Oil Rigs</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Industrial Complex</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Inhospitable</td>
        <td>Upgrades on this territory cost an additional 50%.</td>
    </tr>
    <tr>
        <td>Monument</td>
        <td>Uses standard tower stats without weapons. Provides Die Hard Attitude (Owner's Faction, 16").</td>
    </tr>
    <tr>
        <td>Lighthouse</td>
        <td>Uses standard tower stats without weapons. May function as an Expert Spotter.</td>
    </tr>
</table>
<strong>Unless specifically noted, players do not receive the 10 free Support Aircraft Wings one would normally receive.</strong>

<h2 id="WagingWar">Waging War</h2>
<p>
    Players may attack territories adjacent to their own. Attacks cost requisition. There are different types of attacks:
    <table class="table table-bordered table-striped table">
        <thead>
            <tr>
                <th>Attack</th>
                <th>Cost in RP</th>
                <th>MFV</th>
                <th>Restrictions</th>
                <th>Modifications</th>
                <th>Result</th>
            </tr>
        </thead>
        <tr>
            <td>Raid</td>
            <td>0</td>
            <td>600</td>
            <td>Medium/small only.</td>
            <td>None.</td>
            <td>Attacker wins: affected territory does not provide requisition next turn. Defender wins: affected territory provides requisition as normal.</td>
        </tr>
        <tr>
            <td>Assault</td>
            <td>20</td>
            <td>1000</td>
            <td>No dreadnoughts.</td>
            <td>None.</td>
            <td>Attacker wins: affected territory provides its requisition to the attacker next turn and none to defending player. Defender wins: affected territory provides requisition as normal.</td>
        </tr>
        <tr>
            <td>Conquest</td>
            <td>50</td>
            <td>1500</td>
            <td>No restrictions.</td>
            <td>Each fortification is worth twice as much victory points. This stacks with prizing a fortification for three times the initial value.</td>
            <td>If successful, affected territory is added to territories of the attacking player. Any upgrades on the territory are considered destroyed.</td>
        </tr>
    </table>
</p>
<h2 id="FleetManagement">Fleet Management</h2>
<h3>Overview</h3>
<p>
    Each player has two sets of fleet lists. One of these is the Home Fleet and the other is the Assault Fleet.
    These lists contain the units from which all other army lists are drawn.
    The Home Fleet is used for defensive army lists and the Assault fleet is used for offensive army lists.
    During a turn a unit on the army list may normally only be used once.
    This means that it may be possible that no valid army list can be made!
    Players are expected to create valid army lists whenever possible, and in cases where this is not possible they should make it as close to valid as they possibly can.
    If an invalid list is to be used, the opposing player should be informed and should approve the list to ensure that this approach is not abused (e.g., no lists where 80% of the list consists of dreadnoughts).
    When a defending player does not have sufficient points available to create a defensive list, he or she should draw units from the Assault fleet to create a valid army list.
    If all these steps have been taken and the defending player still does not have sufficient units available to defend, the defending player probably isn't long for this campaign anyway.
</p>
<h3>Repairs</h3>
<p>
    At the end of a battle ships may lie broken and battered. Mighty dreadnoughts are reduced to scrap metal. All damage to units and fortifications is done on a permanent basis. SAWs are replenished for free.
</p>
<p>
    At the beginning of a turn each ship automatically repairs 2 hull points (3 with a drydock). This means that most small vessels may be repaired free of charge. For each additional hull point to be repaired, 1 RP per 2 repaired HP (rounded up) must be spend. Remember that you can chose to not fully repair a unit, however if you use this unit in battle it will be damaged from the start.
</p>
<p>
    <strong>Example:</strong> A 3-strong squadron of Riever cruisers engages in an assault. At the end of the assault one of the Rievers is destroyed, one has taken three damage and one has taken one damage. At the beginning of the repair step 1 RP must be paid to recover the destroyed Riever. It recovers two hull points automatically, leaving two hull points to be repaired. The other Rievers also regenerate two hull points. One Riever (with two hull points of damage) is repaired to full, the other one (with three hull points of damage) has one point of damage left to repair. This costs one additional RP.
</p>
<p>
    In total this cruiser squadron has taken 4 + 3 + 2 = 9 hull points of damage. Of those, 2 + 2 + 2 = 6 hull points were repaired automatically. 3 hull points remaining cost 3 RP to repair and 1 additional RP is paid for the destroyed Riever, thus the player has to pay 4 RP to restore the Riever squad to full working order.
</p>
<p>
    Also note that the Home Fleet is allowed repairs between battles if you are attacked multiple times in one turn. This can cause you to have negative RP. This extra repair chance only applies to damage taken in the current turn and you pay 1 RP per 1 HP when doing this, reflecting crews working over time to get the ship fixed. This means that if I choose not to fully repair a unit from my home fleet its maximum HP for that turn is reduced. Also note that the "free" 2 HP repair only applies at the start of the next turn. 
</p>
<p>
    <strong>Example:</strong> A Liberty and Savannah from the Home Fleet are destroyed in a battle. The player chooses to fully repair the Liberty but does not repair the Savannah. This means that the maximum HP of the Savannah is 2 for the whole turn. This player is then attacked 2 times. In the first battle the Liberty takes 5 damage, the player also wants to use the Liberty for the second battle and repairs it to full, paying 5 RP. The Liberty then takes 6 damage. At the end of the turn the Liberty has 3 HP remaining. 
</p>
<p>
    If a fortification is destroyed, it may not be repaired. Instead the owning player must pay 50% of the territory upgrade to rebuild the upgrade (mines excluded). If the fortification is merely damaged, RP must be spend to repair it as normal.
</p>
<h3>Expanding the fleet lists</h3>
<p>
    As the campaign progresses, players may find that they are in need of more units for their fleets. New units may be bought during the fleet management phase. Each new <strong>squadron</strong> costs 1 RP + 1 RP per hull point. For example, a Requin corvette squadron has 5 units with 2 hullpoints each. To build a full squadron this would cost 5 * 2 + 1 = 11 RP. When bought the unit is added to a fleet and may be used from the next turn onwards.
</p>
<h3>Adding Allied units</h3>
<p>
    A player may also wish to add allied units to his force. These units go into a seperate list, the Ally list. The units in this can be used for the Home and Assault fleet, however not both at the same time. The units are build and repaired the same as with normal units. Also the normal ally rules from the Dystopian Wars rulebook apply when using allies in a battle. 
</p>
<h2 id="AttackBonuses">Attack Bonuses</h2>
<p>
    Players may spend RP to gain advantages when -attacking- territories. This is especially useful for sieges and forays into heavily defended areas.
    <table class="table table-bordered table-striped table">
        <thead>
            <tr>
                <th>Attack Bonus</th>
                <th style="width:100px;">Cost in RP</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr>
            <td>Reconnaissance</td>
            <td>20</td>
            <td>You may re-roll one die for strategic/operational advantage. This stacks with the Radar Array.</td>
        </tr>
        <tr>
            <td>Sabotage</td>
            <td>30</td>
            <td>Select one hostile upgrade on the territory at random. This upgrade does not confer its usual benefit for D3 in-game turns. If the upgrade has hitpoints, it takes D3 damage.</td>
        </tr>
        <tr>
            <td>Surprise Attack</td>
            <td>100% of attack cost</td>
            <td>At least 10% of the points of the defending player's units must be placed in Reserve. Unlike normal, these units may be massive, large, medium or small. Fortifications may not be placed in reserve.</td>
        </tr>
        <tr>
            <td>All Out Assault</td>
            <td>100% of attack cost</td>
            <td>You gain 10% additional points to spend on units for this battle only.</td>
        </tr>
    </table>
</p>
<h2 id="Alliances">Alliances</h2>
<h3>Overview</h3>
<p>
    Players may have one of three types of relationship with other players. Either they are at war, they have a cease-fire or they have an alliance.
</p>
<p>
    Players start out without any allegiance whatsoever. Even if two players use the same faction, they do not start with an alliance or even cease-fire. If two players wish to broker a cease-fire agreement or alliance both have to declare this during Turn Phase #5: Resolve map updates. This means that they'll be able to coordinate attacks in their next turn, but other players will have the opportunity to strike as well. To commit to an alliance, both players must be in a cease-fire agreement beforehand for a full turn.
</p>
<h4>At War</h4>
<p>
    This is the default relationship between two players. Both players can freely attack each other.
</p>
<h4>Cease-Fire Agreement</h4>
<p>
    When a cease-fire agreement is in place, both players have agreed not to attack each other. They may not pass through each others territories nor benefit from territory upgrades the other player controls. Example: if an allied player controls a Radar Array next to an area where you are fighting, you do not gain the reroll for strategic advantage.
</p>
<p>
    Cease-fire agreements may be broken unilaterally at any point in the game. This means that a player can blindside a player he or she has a cease-fire agreement with. If used in a hostile manner though (example: sneak attack), the offending player may not agree to cease-fire agreements for three turns.
</p>
<h4>Alliance</h4>
<p>
    When an alliance is in place, both players have agreed to work in concert to achieve their goals. They may benefit from fortification upgrades their allies confer. Example: if you fight in an area adjacent to an allies' Airfield you gain 10 SAWs. (Keep in mind they are your allies factions SAWs and thus may not benefit from your carrier actions unless both players are the same faction!)
</p>
<p>
    Upon mutual agreement, an allied player may fight any battle in lieu of his ally, with the exception of conquest. The ally may defend for his or her ally during a conquest battle, but may not conquer territory for his or her ally. The non-fighting player provides the RP for the battle. If a Prussian player were to substitute for a French battle, the French player would pay the RP and the Prussians would resolve the conflict. Note that the French player does not pay for the repairs of the Prussian fleet!
</p>
<p>
    An allied player may request RP from the other player to fund repairs, battles or advantages. An allied player may not request RP to aid in upgrading his or her territories.
</p>
<h3>Allied Detachments</h3>
<p>
    Players may only freely include allied detachments that consist of nations that are not actively participating in the campaign (e.g. the French Republic can take allies from the Ottoman Empire). If a player wishes to include detachments from a nation that is active in this campaign, both players must be part of the same alliance. Furthermore, permission to use the allied detachment must be granted by the allied nation.
</p>
<h3>Mercenaries</h3>
<p>
    Players may include mercenaries in their forces. Mercenaries are not added to the fleets as normal. Instead, they are requisitioned on a per-battle basis, where the hiring player has to pay 1 RP per 2 hull points (rounding up). The player does not pay for repairs on the mercenary ships.
</p>
<h2 id="Changelog">Changelog</h2>
<p>
    26-03-2015: More tweaks
    <ul>
        <li>RP cost of mines 20 to 10</li>
        <li>Mines regen after each turn</li>
        <li>Changed cost of in-turn repairing of the home fleet, now 1 RP per HP</li> 
        <li>Changed cost of rebuilding a destroyed upgrade, 100% to 50% of initial cost</li>
        <li>Added 25% refund when a territory with an under construction upgrade is captured<\li>
    </ul>
    25-03-2015: Rule tweaks
    <ul>
        <li>RP cost of mines and radar from 30 to 20</li>
        <li>Rp cost of bunker from 50 to 40</li>
        <li>Added drydock</li>
        <li>Removed fixed location of upgrades on the tactical map</li>
        <li>Local air support from an airfield only applies to one area per turn</li>
        <li>Changed turn order, manage fleet is now at the start of a turn</li>
        <li>Updated repair rules, added extra home fleet repairs in a turn</li>
        <li>Changed attack bonusses to be percentage based</li>
        <li>Added Ally list and rules</li>
    </ul>
    09-02-2015: Added missing rules
    <ul>
        <li>Added rules for repairs</li>
        <li>Fully rewrote alliance rules, now includes cease-fire, alliance detachments, mercenaries</li>
        <li>Removed 10 RP penalty for attacker losing for raid</li>
        <li>RP now carries over from turn to turn</li>
        <li>Deployment zones are chosen as normal (advantage roll)</li>
        <li>Removed player participation section</li>
    </ul>
    04-02-2015: Rules overhaul
    <ul>
        <li>Added overview</li>
        <li>Added fleet management</li>
        <li>Updated attack types</li>
        <li>Temporarily hid alliance rules</li>
    </ul>
    22-01-2015: Website 2.0 Launch
    <ul>
        <li>Formatted rules page</li>
    </ul>
</p>
<h2 id="Todo">To Do</h2>
<p>
    <ul>
        <li>Consider replacing Pirate Base territory bonus with a special scenario.</li>
    </ul>
</p>

    </div>
