@{
    ViewBag.Title = "Index";
}
<nav class="nav navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="#Overview">Overview</a></li>
            <li><a href="#Map">The Map</a></li>
            <li><a href="#CampaignTurn">Campaign Turn</a></li>
            <li><a href="#TerritoryUpgrades">Territory Upgrades</a></li>
            <li><a href="#TerritoryBonuses">Territory Bonuses</a></li>
            <li><a href="#WagingWar">Waging War</a></li>
            <li><a href="#AttackBonuses">Attack Bonuses</a></li>
            <li><a href="#Alliances">Alliances</a></li>
            <li><a href="#Players">Player Participation</a></li>
            <li><a href="#Changelog">Changelog</a></li>
        </ul>
    </div>
</nav>

<h1>Dystopian Wars campaign concept</h1>

<h2 id="Overview">Overview</h2>
<h2 id="VictoryConditions">Victory Conditions</h2>
<h2 id="Map">The Map</h2>
<p>
    Territories give requisition points.
    Requisition points can be spent on upgrades.
    Each territory has a fixed terrain layout. This is known as the Operational Theatre Map.
    Deployment zones and strategic/operational advantage are determined as normal.
</p>
<p>
    By default a territory gives +10 RP per turn.
    A capital territory gives +30 RP per turn.
    A player starts with one capital territory and two normal territories, thus has 50 RP to spend in his first turn.
</p>
<h2 id="CampaignTurn">Campaign Turn</h2>
<ol>
    <li>Receive RP.</li>
    <li>Declare attacks.</li>
    <li>Resolve conflicts.</li>
    <li>Spend RP on territory upgrades.</li>
</ol>
<h2 id="Territories">Territories</h2>
<h3 id="TerritoryUpgrades">Territory upgrades</h3>
All territory upgrades must be represented by appropriate scenery and/or tokens. Each upgrade may be placed only once per territory. Unless noted otherwise, the upgrade must be marked on the map and must always start the game in the exact same location.
<table class="table table-bordered table-striped table">
    <thead>
        <tr>
            <th>Upgrade</th>
            <th style="width:100px;">Cost in RP</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>Minefields</td>
        <td>30</td>
        <td>Allows deployment of 5 AD5 mines in the Advance Deployment Zone -before- deploying squadrons.</td>
    </tr>
    <tr>
        <td>Radar Array</td>
        <td>30</td>
        <td>Allows re-rolls of ONE die for determining strategic/operational advantage in this and adjacent territories. Example: You roll 3 and 1 for advantage. You may re-roll the 1, resulting in a 4 and a resulting advantage roll of 7. See Operational Assets v1.3 page 5 for statistics.</td>
    </tr>
    <tr>
        <td>Airfield</td>
        <td>50</td>
        <td>Allows local air support (up to 10 SAWs) in this and adjacent territories. See the entry for Forward Landing Field in each player's respective army list for statistics.</td>
    </tr>
    <tr>
        <td>Harbour</td>
        <td>50</td>
        <td>When defending you have up to 100 additional points to spend on your army in this territory. Squadrons bought with these points are deployed in the harbour.</td>
    </tr>
    <tr>
        <td>Tower Defensive Line</td>
        <td>30 + (0-50)</td>
        <td>You may deploy up to 80 points of Tower Defensive Line. Each additional 10 RP spent is +40 points, up to a maximum of 50 additional RP for a maximum points value of 280. Mark the towers on the Operational Theatre Map as well as their weapon options. See the entry for Tower Defensive Line in each player's respective army list for statistics.</td>
    </tr>
    <tr>
        <td>Bunker Complex</td>
        <td>50</td>
        <td>Mark the bunker on the Operational Theatre Map. See the entry for Bunker Complex in each player's respective army list for statistics.</td>
    </tr>
</table>

<h3 id="TerritoryBonuses">Territory bonuses</h3>
Some territories provide inherent bonuses. If appropriate, these should be represented by appropriate scenery and/or tokens.
<table class="table table-bordered table-striped table">
    <thead>
        <tr>
            <th>Bonus</th>
            <th>Description</th>
        </tr>
    </thead>
    <tr>
        <td>Town</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Oil Rigs</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Industrial Complex</td>
        <td>+10 additional requisition per turn.</td>
    </tr>
    <tr>
        <td>Inhospitable</td>
        <td>Upgrades on this territory cost an additional 50%.</td>
    </tr>
    <tr>
        <td>Monument</td>
        <td>Uses standard tower stats without weapons. May function as an Expert Spotter.</td>
    </tr>
    <tr>
        <td>Lighthouse</td>
        <td>Uses standard tower stats without weapons. May function as an Expert Spotter.</td>
    </tr>
</table>
<strong>Unless specifically noted, players do not receive the 10 free Support Aircraft Wings one would normally receive.</strong>

<h2 id="WagingWar">Waging War</h2>
<p>
    Players may attack territories adjacent to their own. Attacks cost requisition. There are different types of attacks:
    <table class="table table-bordered table-striped table">
        <thead>
            <tr>
                <th>Attack</th>
                <th>Cost in RP</th>
                <th>MFV</th>
                <th>Restrictions</th>
                <th>Modifications</th>
                <th>Result</th>
            </tr>
        </thead>
        <tr>
            <td>Raid</td>
            <td>0</td>
            <td>600</td>
            <td>Medium/small only.</td>
            <td>None.</td>
            <td>Attacker wins: affected territory does not provide requisition next turn. Defender wins: affected territory provides requisition as normal.</td>
        </tr>
        <tr>
            <td>Assault</td>
            <td>20</td>
            <td>1000</td>
            <td>No dreadnoughts.</td>
            <td>None.</td>
            <td>Attacker wins: affected territory provides half of its requisition to the attacker next turn and none to defending player. Defender wins:	affected territory provides requisition as normal and attacker loses 10 RP.</td>
        </tr>
        <tr>
            <td>Conquest</td>
            <td>50</td>
            <td>1000</td>
            <td>No restrictions.</td>
            <td>Each fortification is worth twice as much victory points. This stacks with prizing a fortification for three times the initial value.</td>
            <td>If successful, affected territory is added to territories of the attacking player. Any upgrades on the territory are considered destroyed.</td>
        </tr>
    </table>
</p>
<h3 id="AttackBonuses">Attack Bonuses</h3>
<p>
    Players may spend RP to gain advantages when -attacking- territories. This is especially useful for sieges and forays into heavily
    defended areas.
    <table class="table table-bordered table-striped table">
        <thead>
            <tr>
                <th>Upgrade</th>
                <th style="width:100px;">Cost in RP</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr>
            <td>Reconnaissance</td>
            <td>20</td>
            <td>You may re-roll one die for strategic/operational advantage.</td>
        </tr>
        <tr>
            <td>Sabotage</td>
            <td>30</td>
            <td>Select one hostile upgrade on the territory at random. This upgrade does not confer its usual benefit for D3 in-game turns. If the upgrade has hitpoints, it takes D3 damage.</td>
        </tr>
        <tr>
            <td>Surprise Attack</td>
            <td>50</td>
            <td>At least 200 of the defending player's units must be placed in Reserve.</td>
        </tr>
        <tr>
            <td>All Out Assault</td>
            <td>50</td>
            <td>You gain 200 points to spend on additional units for this battle only.</td>
        </tr>
    </table>
</p>
<h2 id="Alliances">Alliances</h2>
<p>
    Players start out as part of one of three governing alliances: the Grand Coalition, the Imperial Bond and the Free Nations. Default allegiances are used, e.g. Prussian players start in the Imperial Bond and FSA players start in the Grand Coalition. Default alliance rules as detailed in the rulebook are in effect, with the following adjustments.
    Players may only include allied detachments that consist of nations that are not actively participating in the campaign (e.g. the French Republic can take allies from the Ottoman Empire). If a player wishes to include detachments from a nation that is active in this campaign, both players must be part of the same alliance. Furthermore, permission to use the allied detachment must be granted by the allied nation.
</p>
<h2 id="Players">Player Participation</h2>
<h3>New player</h3>
<h3>Missing a Turn</h3>
<h3>Substituting players (example: CF can't make it to the fight, so PE substitutes for them)</h3>
<h3>Drop-out</h3>
<h2 id="Changelog">Changelog</h2>
<p>
    22-01-2015: Website 2.0 Launch
    <ul>
        <li>Formatted rules page.</li>
    </ul>
</p>
<h2 id="Todo">To Do</h2>
<p>
    <ul>
        <li>Consider replacing Pirate Base territory bonus with a special scenario.</li>
    </ul>
</p>

