@model IEnumerable<DystopianWarsCampaign.Models.NavalReview>

@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/Scripts/jquery-2.1.3.js")
@Scripts.Render("~/Scripts/lightbox-2.6.js")

@Styles.Render("~/Content/lightbox.css")
<div class="offsettop">
    <div class="textbox">
            
             
                    <a href="Content/Images/Naval_review_1.jpg" data-lightbox="review1"><img src="Content/Images/Naval_review_1.jpg" class="img-thumbnail" height="181" width="128"></a>
                    <a href="Content/Images/Naval_review_2.jpg" data-lightbox="review2"><img src="Content/Images/Naval_review_2.jpg" class="img-thumbnail" height="181" width="128"></a>
                    <a href="Content/Images/Naval_review_4.jpg" data-lightbox="review4"><img src="Content/Images/Naval_review_4.jpg" class="img-thumbnail" height="181" width="128"></a>
                </div>
        </div>
     
   
