@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    Design
    <ul>
        <li>Stefan Martens</li>
        <li>Stephan van der Vuurst</li>
        <li>Thomas Verkooijen</li>
    </ul>
    Additional design
    <ul>
        <li>Lorenzo Salden</li>
    </ul>
    Website Development
    <ul>
        <li>Stefan Martens</li>
        <li>Thomas Verkooijen</li>
    </ul>
</p>

<p>Thank you for reading!</p>
