@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>De Dobbelsteen, Tilburg</h4>
<address>
    Schouwburgring 155<br />
    5038 TW Tilburg<br />
    <abbr title="Phone">P:</abbr>
    013-5443700
</address>

<h4>Thomas Verkooijen, Oosteind</h4>
<address>
    Maalderijstraat 38<br />
    4909 BS Oosteind<br />
    <abbr title="Phone">P:</abbr>
    06-29583339
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@thomasverkooijen.nl">Support@example.com</a><br />
</address>