@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    @Scripts.Render("~/Scripts/lightbox.js")

}

<div class="introfont">
<div class="text-center">
 <div class="offsettop">
      <hr />
<h2>It is the 1870′s, and war rages between the world’s great powers on a scale never before seen!
At sea, mighty battle groups clash; lines of giant smoke-belching Dreadnoughts and Battleships hammer one another in mortal combat, 
supported by flotillas of smaller craft. Between the thunderous engagements of massed war fleets are dozens, 
if not hundreds, of lesser skirmishes.</>  

</h2>
     

     <h2>We welcome you seasoned Commanders, to the Dystopian Wars Campaign site!</h2>
      <hr />
  </div></div></div> 


<div class="row">
    <div class="col-md-4">
        <div class="jumbotron">
        <h4>Updated campaign site!</h4>
        <h5><i>24/03/15</i></h5>
             <hr />
        <h5>
            Throughout the last couple of weeks, we've done some minor updates to our campaign website. Now we've got a new layout, which is far from pretty, and therefore still in beta. More interestingly, the map is fully up to date for round three. 
        </h5><h5>    
            In addition, full fleet-lists of each faction have been published and can be found @Html.ActionLink("here", "Index", "Factions") 
        </h5>
        </div>  
    </div>
    <div class="col-md-4">
         <div class="jumbotron">
        <h4>End of round 3</h4>
        <h5><i>20/03/15</i></h5>
               <hr />
        <h5>Battles have been hard fought and territories have been either gained or lost. Meanwhile, several armies have increased and upgrades have been built. </h5> <h5>It's time for round #4! Please submit your moves before the 28th of March!</h5>
    </div></div>    
    <div class="col-md-4">
         <div class="jumbotron">
        <h4>The Illustrated Naval Review</h4>
        <h5><i>09/03/15</i></h5>
               <hr />
        <h5>The Illustrated Naval Review, read all about it!</h5>
             <img src="~/Content/Images/Naval_review_1.jpg" class="img-thumbnail">

        </div>  
    </div>
</div>